#sidebar-wrapper {
    position: fixed;
    top: 8vh;
    width: 16vw;
    height: 92vh;
    background-color: hsl(212, 9%, 33%);
}

.sidebar-heading {
    padding: 1.5rem;
    font-size: 1.6rem;
}

.list-group {
    width: 16vw;
}

.list-group-item {
    margin-top: 5px;
    background-color: #656d78;
    border: 3px solid #656d78;
}

.list-group-item:hover,
.list-group-item:focus {
    border: 3px solid #e14a59;
    background-color: #656d78;
}