.nav-link .active {
    color: #e14a59;
    border: 2px solid #e14a59;
    font-size: 20px;
    font-weight: bold;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:active,
.nav-item .nav-link:visited,
.nav-item .nav-link:focus {
    color: #e14a59;
    border: 2px solid #e14a59;
    font-size: 20px;
    font-weight: bold;
}

.nav-item .nav-link {
    border: 2px solid transparent;
    color: #4d545c;
    font-size: 20px;
}

.tab-content {
    margin: 10px;
}