<div class="containter">
    <h2>---ADMIN PANEL---</h2>


    <ul class="nav nav-tabs mr-auto" id="myTab">
        <li class="nav-item"><a class="nav-link" data-target="#add_wine" data-toggle="tab">Add wine</a></li>
        <li class="nav-item"><a class="nav-link" data-target="#delete_wine" data-toggle="tab">Delete wine</a></li>
        <li class="nav-item"><a class="nav-link" data-target="#add_location" data-toggle="tab">Add location</a></li>
        <li class="nav-item"><a class="nav-link" data-target="#delete_location" data-toggle="tab">Delete location</a></li>
        <li class="nav-item"><a class="nav-link" data-target="#add_category" data-toggle="tab">Add category</a></li>
        <li class="nav-item"><a class="nav-link" data-target="#delete_category" data-toggle="tab">Delete category</a></li>
        <li class="nav-item"><a class="nav-link" data-target="#add_admin" data-toggle="tab">Add admin</a></li>
        <li class="nav-item"><a class="nav-link" data-target="#delete_user" data-toggle="tab">Delete user</a></li>

    </ul>

    <div class="tab-content">
        <!-- ADD WINE TAB -->
        <div class="tab-pane active" id="add_wine">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add wine
                </div>
                <div class="card-body">
                    <form class="column" [formGroup]="addWineForm">
                        <div class="form-group">
                            <label class="col-md-12 control-label" for="winename"> NAME </label>
                            <div class="col-md-12">
                                <input id="name" formControlName="name" name="name" placeholder="Name" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label" for="price"> PRICE </label>
                            <div class="col-md-12">
                                <input id="price" formControlName="price" name="price" placeholder="Price" class="form-control input-md" required="" type="number">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label" for="image"> IMAGE</label>
                            <div class="col-md-12">
                                <input id="image" formControlName="image" name="image" class="input-file" type="file">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label" for="description"> DESCRIPTION</label>
                            <div class="col-md-12">
                                <textarea class="form-control" formControlName="description" id="description" placeholder="Description" name="description"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label" for="category"> CATEGORY</label>
                            <div class="col-md-12">
                                <select id="category" formControlName="category" name="category" class="form-control">
                                    <option *ngFor="let category of categories">{{category.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label" for="location"> LOCATION</label>
                            <div class="col-md-12">
                                <select id="location" formControlName="location" name="location" class="form-control">
                                    <option *ngFor="let location of locations">{{location.country}} - {{location.description}}</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-12 control-label" for="producer"> PRODUCER </label>
                            <div class="col-md-12">
                                <input id="producer" formControlName="producer" name="producer" placeholder="Producer" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label" for="alcohol_level"> ALCOHOL LEVEL </label>
                            <div class="col-md-12">
                                <input id="alcohol_level" formControlName="alcohol_level" name="alcohol_level" placeholder="Alcohol level" class="form-control input-md" required="" type="number">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label" for="year"> YEAR </label>
                            <div class="col-md-12">
                                <input id="year" formControlName="year" name="year" placeholder="Year" class="form-control input-md" required="" type="number">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12 control-label" for="volume"> VOLUME </label>
                            <div class="col-md-12">
                                <input id="volume" formControlName="volume" name="volume" placeholder="Volume" class="form-control input-md" required="" type="number">

                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="checkout float-left column">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button [disabled]="!addWineForm.valid" id="singlebutton" (click)="onAddWine()" type="submit" name="singlebutton" class="btn btn-danger">ADD WINE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DELETE WINE TAB -->
        <div class="tab-pane" id="delete_wine">
            <form class="card" [formGroup]="deleteWineForm">
                <div class="card-header bg-dark text-light">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Delete wine
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="wine_id"> WINE ID </label>
                        <div class="col-md-12">
                            <input id="wine_id" formControlName="id" name="wine_id" placeholder="Wine Id" class="form-control input-md" required="" type="number">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="checkout float-left column">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="singlebutton" (click)="onDeleteWine()" [disabled]="!deleteWineForm.valid" type="submit" name="singlebutton" class="btn btn-danger">DELETE WINE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- ADD LOCATION -->
        <div class="tab-pane" id="add_location">
            <form class="card" [formGroup]="addLocationForm">
                <div class="card-header bg-dark text-light">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add location
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="latitude"> LATITUDE </label>
                        <div class="col-md-12">
                            <input id="latitude" formControlName="latitude" name="latitude" placeholder="Latitude" class="form-control input-md" required="" type="number">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="longitude"> LONGITUDE </label>
                        <div class="col-md-12">
                            <input id="longitude" formControlName="longitude" name="longitude" placeholder="Longitude" class="form-control input-md" required="" type="number">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="location_description"> LOCATION DESCRIPTION</label>
                        <div class="col-md-12">
                            <textarea class="form-control" formControlName="location_description" id="location_description" placeholder="Location description" name="location_description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="country"> COUNTRY </label>
                        <div class="col-md-12">
                            <input id="country" formControlName="country" name="country" placeholder="Country" class="form-control input-md" required="" type="text">

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="checkout float-left column">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="singlebutton" [disabled]="!addLocationForm.valid" type="submit" (click)="onAddLocation()" name="singlebutton" class="btn btn-danger">ADD LOCATION</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- DELETE LOCATION -->
        <div class="tab-pane" id="delete_location">
            <form class="card" [formGroup]="deleteLocationForm">
                <div class="card-header bg-dark text-light">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Delete location
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="location_id"> LOCATION ID </label>
                        <select id="location_Id" formControlName="id" name="location_Id" class="form-control">
                            <option *ngFor="let location of locations">{{location.locationId}} - {{location.country}} - {{location.description}}</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="checkout float-left column">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="singlebutton" [disabled]="!deleteLocationForm.valid" type="submit" (click)="onDeleteLocation()" name="singlebutton" class="btn btn-danger">DELETE LOCATION</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- ADD CATEGORY -->
        <div class="tab-pane" id="add_category">
            <form class="card" [formGroup]="addCategoryForm">
                <div class="card-header bg-dark text-light">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add category
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="winename"> CATEGORY NAME </label>
                        <div class="col-md-12">
                            <input id="category_name" formControlName="name" name="category_name" placeholder="Category name" class="form-control input-md" required="" type="text">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="checkout float-left column">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="singlebutton" [disabled]="!addCategoryForm.valid" type="submit" (click)="onAddCategory()" name="singlebutton" class="btn btn-danger">ADD CATEGORY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- DELETE CATEGORY -->
        <div class="tab-pane" id="delete_category">
            <form class="card" [formGroup]="deleteCategoryForm">
                <div class="card-header bg-dark text-light">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Delete category
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="winename"> CATEGORY ID </label>
                            <select id="category_Id" formControlName="id" name="category_Id" class="form-control">
                                <option *ngFor="let category of categories">{{category.genreId}} - {{category.name}}</option>
                            </select>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="checkout float-left column">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="singlebutton" type="submit" (click)="onDeleteCategory()" [disabled]="!deleteCategoryForm.valid" name="singlebutton" class="btn btn-danger">DELETE CATEGORY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- ADD ADMIN -->
        <div class="tab-pane" id="add_admin">
            <form class="card" [formGroup]="addAdminForm">
                <div class="card-header bg-dark text-light">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add Admin
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="e-mail">E-MAIL</label>
                        <div class="col-md-12">
                            <input id="e-mail" ngModel email formControlName="email" name="e-mail" placeholder="Email" class="form-control input-md" required="" type="email">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="login">LOGIN</label>
                        <div class="col-md-12">
                            <input id="login" formControlName="login" name="login" placeholder="Login" class="form-control input-md" required="" type="text">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="password">PASSWORD</label>
                        <div class="col-md-12">
                            <input id="password" formControlName="password" name="password" placeholder="Password" class="form-control input-md" required="" type="password">

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="checkout float-left column">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="singlebutton" type="submit" (click)="onAddAdmin()" [disabled]="!addAdminForm.valid" name="singlebutton" class="btn btn-danger">ADD ADMIN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- DELETE USER -->
        <div class="tab-pane" id="delete_user">
            <form class="card" [formGroup]="deleteUserForm">
                <div class="card-header bg-dark text-light">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Delete User
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="user_login"> USER LOGIN </label>
                        <div class="col-md-12">
                            <input id="user_login" formControlName="login" name="user_login" placeholder="User Login" class="form-control input-md" required="" type="text">

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="checkout float-left column">
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="singlebutton" type="submit" (click)="onDeleteUser()" [disabled]="!deleteUserForm.valid" name="singlebutton" class="btn btn-danger">DELETE USER</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>