#products,
.container,
.item {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 83vw;
}

.thumbnail {
    height: auto;
    margin: 15px;
    padding: 15px;
    border: 3px solid #656d78;
}

.item {
    cursor: pointer;
}

.img-event {
    text-align: center;
}

.img-fluid {
    border: 3px solid #e14a59;
}

#search_text {
    min-width: 82vw;
    width: 82vw;
    max-width: 82vw;
    font-size: 32px;
    color: #e14a59;
    text-align: center;
    font-weight: 800;
    border: 3px solid #656d78;
    margin: 10px;
}