.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0%;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    background-color: #4d545c;
    padding: 20px;
    border: 3px solid #e14a59;
    width: 25%;
    height: 40%;
    margin: 15% auto;
}