<div id="age-modal" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12" id="modal-age-limit" style="margin-bottom: 2.5rem;
              color: #fff;">
                    <h3><strong>The things presented on this site contain content for adults only!</strong></h3>
                    <h3>Please confirm that you are at least 18 years old. Otherwise close this page immediately.</h3>
                </div>

                <div class="col-xs-12 col-lg-12" id="age-submit-area">
                    <button class="btn btn-lg btn-danger btn-block" id="age-submit">I confirm that I am at least 18 years old</button>
                </div>
            </div>
        </div>
    </div>
</div>