<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="../../assets/wine.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Wine World
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">History of Wine</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" [formGroup]="form">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Enter wine name"
        aria-label="Search"
        minlength="1"
        formControlName="searchText"
      />
      <button
        (click)="onSearch()"
        class="btn btn-danger my-2 my-sm-0"
        [disabled]="!form.valid"
      >
        Search
      </button>
    </form>
  </div>
</nav>
<!-- end of menu -->
